{% extends 'layout.html' %}

{% block main %}
<div class="my-5">
    <h1 class="display-5 fw-bold text-body-emphasis">Dashboard</h1>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/" class="btn btn-primary">Physics</a>
    <a href="/" class="btn btn-primary">Chemistry</a>
    <a href="/" class="btn btn-primary">Maths</a>
</div>
<div>
    <iframe width="560" height="315"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=hKYKAgDjUBQoiUdp&amp;list=PLkyBCj4JhHt-Urvt58lZ8qkZEEhi0QWnU"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" style="width: 480px; height: 240px;" allowfullscreen></iframe>
</div>
{% block dashboard %}

{% endblock %}
{% endblock %}